
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
  
</head>

<body>
  <app-header></app-header>


  <div id="init">


    <!-- 角色选择 -->
    <div id="selector1" style="width: 250px;">
      <div>
        <button type="button" id="but1" (click)="but1()"></button>
      </div>

      <div>
        <button type="button" id="but3" (click)="but3()"></button>
      </div>
    </div>

    <!-- 注册 -->
    <div id="login_box">
      <h2>REGISTER</h2>
      <div id="input_box">
          <input type="text" name="userName" id="username" placeholder="请输入用户名" >
      </div>
      <div id="input_box">
          <input type="text" name="email" id="email" placeholder="请输入邮箱">
      </div>
      <div class="input_box">
          <input type="password" name="password" id="password" placeholder="请输入密码">
      </div>
      <div class="input_box">
          <input type="password" name="rePassword" id="rePassword" placeholder="请确认密码">
      </div>

      <div class="select_box">
        <h3 style="color: aliceblue;">请选择您的角色</h3>
        <div>
          <h4 style="color: aliceblue;">您当前的角色为：</h4>
          <h1 style="color: aliceblue;">{{user.userInfo.figure}}</h1>
        </div>

      </div>
  
      <button class="btn" (click)="check()">注册</button><br>
      <P class="toLogin">已有账号？<span id="login" (click)="toLogin()">立即登录</span></P>
    </div>

   <!-- 角色选择 -->
   <div id="selector2">
    <div>
      <button type="button" id="but2" (click)="but2()"></button>
    </div>

    <div>
      <button type="button" id="but4" (click)="but4()"></button>
    </div>
  </div>
    

  </div>
  
</body>
</html>
