* {
    box-sizing: border-box;
  }
  
  html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  html, input {
    font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
    word-wrap: break-word;
  }
  
  /* Pages */
  
  .pages {
    height: 30%;
    margin: 0;
    padding: 0;
    width: 100px;
  }
  
  .page {
    margin-left: 5%;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  /* Login Page */
  
  
  /* Font */
  
  .messages {
    font-size: 150%;
  }
  
  .inputMessage {
    font-size: 100%;
  }
  
  .log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
  }
  
  /* Messages */
  
  .chatArea {
    background-color: rgba(243, 238, 238, 0.8);
    height: 100%;
    padding-bottom: 40px;
    border: 2px solid#000000;
  }
  .number{
    height: 100%;
    margin-left: 2%;
    margin-top: 2%;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 150%;
    color: #000;
  }

  .messages {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 10px 20px 10px 20px;
  }
  
  .message.typing .messageBody {
    color: gray;
  }
  
  .username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
  }
  
  /* Input */
  
  .inputMessage {
    border: 2px solid #4b1326;
    bottom: 0px;
    height: 40px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 100%;
  }

  #chat {
    position: absolute;
    bottom: 0px;
    width: 30%;
    text-align: left;
    z-index: 100;
    display:block;
  }

