
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
  
</head>

<body>
    <header>
        <div class="header-f">
            <div class="logo">
                <a href="">
                    <img src="./assets/logo.jpg" alt="" height="70px">
                </a>
            </div>

            <div class="name">
                <h4> 赛博图书馆 </h4>
            </div>

            <div class="content">
                <ul class="aa">
                    <li class="bb">
                        <a (click)="toIndex()">首页</a>
                    </li>
            
                    <li class="bb">
                        <a (click)="toLogin()">登陆</a>
                    </li>
                    <li class="bb">
                        <a (click)="toRegister()">注册</a>
                    </li>
                    <li class="bb">
                        <a (click)="toPerson()">个人中心</a>
                    </li>
                </ul>
            </div>

        </div>
    </header>
</body>
</html>